@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family: 'Nunito Sans';
}

@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: 'Yeseva One';
}
body {
	margin: 0;
	font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}

p, a {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover,
a:active {
	color: #E3B873;
	text-decoration: underline;
}

.header {
	height: 83px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;

}

.header-wrapper {
	width: 1256px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header-wrapper_text,
.header-nav-list_item-link,
.header-wrapper_phon {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: #E3B873;
}
.header-nav-list_item-link {
	margin: 0;
	text-decoration: none;
	color: #FFFFFF;
}
.header-nav-list_item:not(:first-child) {
	margin-left: 3.3vw;
}


.header-nav_list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	
	
}
.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border: none;
	font-family: 'Nunito Sans';
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}
.header-wrapper_button {
	width: 161px;
	height: 37px;
}

.section1 {
	background: url(../images/image1.jpg);
	background-size: cover;
	height: 707px;
	position: relative;
}

.section1-background,
.section6-background {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7); 
}

.section-container {
	margin: 0 auto;
	max-width: 1256px;
	position: relative;
}


.section1-wrapper {
	/*position: relative;*/
	z-index: 1;
	top: 194px;
	
}

.title {
	margin: 0;
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.section1-wrapper_title-color {
	color: #E3B873;
}

.section1-wrapper_p {
	margin:19px 0 0;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
    color: #FFFFFF;
}

.section1-wrapper_button {
	margin-top: 41px;
	width: 207px;
	height: 51px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0);
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0);
}

.section1-wrapper_button:hover, .section1-wrapper_button:active {
	background: #E3B873;
	border: none;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.section1-wrapper_button:nth-of-type(2) {
	margin-left: 20px;
}

.section2 {
	background-color: rgb(0, 0, 0);
	height: 1074px;
}

.section2-container--margin {
	top: 107px;
}

.section2-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.section2-wrapper-block1_title {
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	color: #E3B873;
	margin: 81px 0 34px;
}

.section2-wrapper-block1_p {
	font-size: 14px;
	line-height: 27px;
}

.section2-wrapper-block1-subblock {
	display: flex;
	flex-flow: row wrap;
	max-width: 33.6vw;
	margin-top: 42px;
}

.section2-wrapper-block1-subblock-box {
	width: 13.7vw;
	height: 102px;
}

.section2-wrapper-block1_subblock-box_subtitle {
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
	margin-bottom: 9px;
}

.section2-wrapper-block1-subblock-box_p {
	font-size: 13px;
	line-height: 21px;
}
/*.section2-wrapper-block1_svg {
	width: 16vw;
	height: 13px;
}*/

.section2-wrapper-block2_img {
	max-width: 100%;
	height: auto;
}

.section2-wrapper-block2-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 0 0 45px 0;
	padding: 0;
	list-style: none;
}
.section2-wrapper-block2-list-elem {
	
}

.section2-wrapper-block2-list-elem_link {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	text-align: center;
	padding-bottom: 6.68px;
}

.section2-wrapper-block2-list-elem_link:hover,
.section2-wrapper-block2-list-elem_link:active {
	border-bottom: 1px solid #E3B873;
    text-decoration: none;
}

.section2-wrapper-block1-subblock-mobile,
.section2-wrapper-block1_title-mobile,
.section2-wrapper-block1_p-mobile,
.section2-wrapper-block2_left-arrow--mobile,
 .section2-wrapper-block2_rifht-arrow--mobile {
	display: none;
}

.section3-container--margin {
	display: flex;
	margin-top: -340px;
	flex-direction: column;
	align-items: center;
}

.section3_title,
 .section4_title {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 12.79px
}
.container-wrapper_svg {
	display: flex;
    align-items: center;
	margin-top: 12.79px;
	justify-content: center;
}

.container-wrapper_svg::before,
.container-wrapper_svg::after {
	content: "";
    width: 32px;
  	height: 1.54px;
	background: #E3B873;
	border-radius: 30px;
}

.container-wrapper_svg::before {
	margin-right: 9px;
}

.container-wrapper_svg::after {
	margin-left: 9px;
}

.section3-container-video {
	margin-top: 31.31px;
	margin-bottom: 62.5px;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
	max-width: 817px;
	height: auto;
	position: relative;
}

.video_line {
	position: absolute;
	border: none;
	width: 100%;
	height: 0.4em;
	background: #484848;
	bottom: -8px;
}

.section3_line {
	width: 55px;
	height: 1.54px;
	background: #E3B873;
	border-radius: 30px;
	border: none;
}
.section3-container_p {	
	margin-top: 34.46px;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
	max-width: 681px;
}
.container-form {
	display: flex;
	justify-content: center;
}

.section3-container-form {
	flex-flow: row wrap;
	margin-top: 91.5px;
	max-width: 782px;
	justify-content: center;

}

.section3-container-form_label,
.section3-container-form_input,
.section5-container-form_label,
.section5-container-form_input {
	display: block;
}

.form_label {
	font-size: 13px;
	line-height: 21px;
}
.section3-container-form_label {
	color: rgba(54, 54, 54, 0.5);
	margin-bottom: 8px;
}

.form_input {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
}

.section3-container-form_input {
	width: 231px;
	color: #363636;
	border: none;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	margin-right: 58px;

}

.form_input::placeholder {
	font-size: 14px;
	line-height: 23px;
	opacity: unset;
}

.section3-container-form_input::placeholder {
	color: #363636;
	
}

.form_input-button {
	font-size: 13px;
	line-height: 27px;
	font-style: normal;
}

.section3-container-form_input-button {
	width: 200px;
	height: 51px;
}

.section3-container-checkbox {
	margin-top: 25.24px;
	position: relative;
	margin-left: 8px;
}

.checkbox_text {
	font-size: 14px;
	line-height: 163.68%;
}
.section3-container-checkbox_text {
	color: #181818;
}

/* Custom checkbox */

input[type="checkbox"] {
	position: absolute;
  	z-index: -1;
  	opacity: 0;
}

input[type="checkbox"] + label {
	display: inline-flex;
  	align-items: center;
  	user-select: none;
}

input[type="checkbox"] + label:before {
	content: "";
    margin-right: 8.62px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #E3B873;
    background-color: #ffffff;
    border-radius: 1px;
    background-repeat: no-repeat;
  	background-position: center center;
  	
}

input[type="checkbox"]:checked + label:before {
	background-color: #E3B873;
	background-image: url(../images/check.png);
 }
input[type="checkbox"] + label:hover:before
	{
	background-color: #E3B873;
}
/* End custom checkbox */



.section4 {
	margin-top: 147.85px;
}

.section4_title {
	color: #181818;
}

.section4-container-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 31px;
	margin-bottom: 152px;
}

.section4-container-wrapper-box {
	position: relative;
	width: 392px;
	margin-bottom: 50px;
}

.section4-container-wrapper-box_img {
	position: relative;
	z-index: -1;
	width: 100%;
	height: auto;
}

.section4-container-wrapper-box-subbox {
	width: 84%;
	height: 286px;
	margin: -141px auto 0;
	background: #FFFFFF;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
	padding-top: 7.6%;
	
}

.section4-container-wrapper-box-subbox_title {
	font-size: 18px;
	line-height: 25px;
	color: #363636;
	text-transform: none;
	margin-left: 10%;
	margin-bottom: 4%;
}

.section4-container-wrapper-box-subbox_list {
	padding: 0;
	margin: 0 0 0 16%;
}

.section4-container-wrapper-box-subbox_list_item {
	font-size: 13px;
	line-height: 27px;
	color: #959595;
}

.section4-container-wrapper-box-subbox2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 228px;
	height: 54px;
	background: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	position: relative;
	bottom: -32px;
}

.section4-container-wrapper-box-subbox2_title {
	font-size: 18px;
	line-height: 25px;
}

.section5 {
	background-image: url(../images/backgroundSection5.jpg);
	background-repeat: no-repeat;
	background-position: left -50px;
	padding-top: 50px;
	
}

.section5-container {
	display: flex;
	justify-content: space-between;
	height: 725.44px;
	/*flex-flow: row wrap;*/

}

.section5-container-leftbox {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	margin-left: 10%;
	height: 509px;
}

.section5-container-leftbox-elem {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

}

.section5-container-leftbox-elem_circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 41.76px;
	height: 41.76px;
	background: #E3B873;
	border: 8px solid #FFFFFF;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	border-radius: 50%;
	margin-right: 8.39px;

	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;

}

.section5-container-leftbox-elem_p {
	font-size: 14px;
	line-height: 19px;
	color: #363636;
}

.section5-container-rightbox-formWrapper {
	width: 506px;
	height: 491px;
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	padding-top: 28px;
}

.section5-container-rightbox-formWrapper_title {
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	
}

.section5-container-form {
	flex-flow: column nowrap;
	margin: 39px auto 0;
	max-width: 408px;
	align-items: center;
	position: relative;
}

.section5-container-form_label {
	color: rgba(255, 255, 255, 0.5);
}

.section5-container-form_input {
	width: 408px;
	color: #FFFFFF;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	background: #131313;
}

.section5-container-form_input::placeholder {
	color: #FFFFFF;
}

.section5-container-form_label:nth-child(-n+2) {
	margin-bottom: 48px;
}

.section5-container-checkbox {
	margin-top: 16px;
	align-self: start;
	margin-bottom: 39px;
}

.section5-container-checkbox_text {
	color: #FFFFFF;
}

.section5-container-form_input-button {
	width: 213px;
	height: 51px;
	align-self: flex-end;
}

.section5-container-rightbox-materialDiscount {
	margin-top: 38.44px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.section5-container-rightbox-materialDiscount_p {
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.section6 {
	background-image: url(../images/backgroundSection6.jpg);
	background-size: cover;
	position: relative;
	margin-top: 142px;
}

.section6_background{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9));
}

.section6-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.section6-container-leftBox {
	padding-top: 137.47px;
	position: relative;
}

.section6-container-leftBox_title {
	color: #E3B873;
}

.section6-container-leftBox-list {
	list-style: none;
	padding: 0;
	margin-top:47px;
}

.section6-container-leftBox-list_item {
	margin-bottom: 11px;
}

.section6-container-leftBox-list_item_link {
	text-decoration: none;
	font-size: 20px;
	line-height: 38px;
	padding-bottom: 1.17px;
	
}

.section6-container-leftBox-list_item_link:hover,
.section6-container-leftBox-list_item_link:active {
	border-bottom: 0.66px solid #E3B873;
	text-decoration: none;
}

.section6-container-rightBox {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	height: 864px;

}

.section6-container-rightBox_img{
display: block;
}

.section6-container-rightBox-box1 {
	position: relative;
	margin-right: 43px;
	top: -40px;
}

.section6-container-rightBox-box2 {
	position: relative;
	top: -112.53px;
}

.section6-container-rightBox_img:nth-child(1) {
	margin-bottom: 40px;
}

.section7 {
	background-image: url(../images/backgroundSection7.jpg);
	background-size: cover;
	background-repeat: repeat-x;
	margin-top: 110.47px;
}

.section7_title {
color: #181818;
text-align: center;
margin-bottom: 13.22px;
}

.section7_p {
	color: #363636;
	text-align: center;
	margin-top: 24.16px;
}

.section7-container-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 39px;

}

.section7-container-box-subBox {
	width: 376px;
	height: 428px;
}

.section7-container-box-subBox_title::before {
		content: "";
		width: 76px;
		height: 76px;
		background-image: url(../images/Section7_subbox1.jpg);
		background-position: center center;
		background-size: cover;
		border-radius: 50%x;
}

.section7-container-box-subBox_title {
	font-size: 18px;
	line-height: 23px;
	color: #181818;
}

.section7-container-box-subBox_p {
	font-size: 13px;
	line-height: 180%;
	color: #959595;
	
}



 /* CSS Mobile */



@media only screen and (max-device-width : 568px) {
	.header {
		height: 57px;
	}	
	.header-nav {
		display: none;
	}

	.header-wrapper_button {
		display: none;
	}

	.header-wrapper {
		width: 340px;
	}

	.header-wrapper_phon {
		color: #FFFFFF;
	}

	.section1 {
		background: url(../images/image1_mobile.jpg);
		height: 475px;
	}

	.section1-wrapper {
		top: 85px;
		max-width: 340px;
	}

	.title {
		font-size: 23px;
		line-height: 132.83%;
	}

	.section1-wrapper_p {
		margin: 16px 0 0;
		font-size: 14px;
		line-height: 135.84%;
	}

	.section1-wrapper_button {
		margin-top: 48px;
		width: 340px;
	}

	.section1-wrapper_button:nth-of-type(2) {
		margin: 26px 0 0;
	}
	.section2 {
    	height: 688px;
	}

	.section2-wrapper-block1,
	.section2-wrapper-block2-list {
		display: none;
	}

	.section2-wrapper-block2 {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		position: relative;
		margin: 0 auto;
		max-width: 340px;
	}
	.section2-wrapper-block1_title-mobile {
		display: block;
		text-align: center;
		color: #E3B873;
		margin-bottom: 22px;
		letter-spacing: -0.07em;
		font-size: 22px;
		line-height: 138.6%;
	}

	.section2-container--margin {
		top: 36px;
	}
	.section2-wrapper-block2_img {
		width: 340px;
		height: auto;
	}
	.section2-wrapper-block1_p-mobile {
		display: block;
		font-size: 11px;
		line-height: 158.48%;
		text-align: center;
		margin-bottom: 36px;
	}
	.section2-wrapper-block2_left-arrow--mobile,
	.section2-wrapper-block2_rifht-arrow--mobile {
		display: block;
		position: absolute;
		top: 270px;
		left: 14px;
	}

 	.section2-wrapper-block2_rifht-arrow--mobile {
		left: 291px;
 	}

 	.section2-wrapper-block1-subblock-mobile {
 		display: flex;
 		flex-flow: row wrap;
 		margin-top: 36.65px;
 	}
 	.section2-wrapper-block1-subblock-box-mobile {
 		width: 50%;
		height: 72.5px;
		margin-bottom: 27px
 	}

	.section2-wrapper-block1_subblock-box_subtitle-mobile {
 		font-size: 14px;
		line-height: 138.6%;
		text-transform: uppercase;
		color: #E3B873;
		margin-bottom: 11px;
	}

	.section2-wrapper-block1-subblock-box_p-mobile {
		font-size: 11px;
		line-height: 18px;
	}

	.section3-container-wrapper_svg,
	.section3-container--margin {
		margin-top: 0;
	}

	.section3 {
		background: black;
	}

	.section3-container-video {
		margin-top: 40.21px;
		margin-bottom: 28px;
		box-shadow: 0px 20px 30px rgba(24, 24, 24, 0.1);
		width: 340px;
	}

	.section3-container_p {	
		margin-top: 21.46px;
		font-size: 11px;
		line-height: 169.8%;
		color: #FFFFFF;
		width: 340px;
	}
	


}